/* styles.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #222222; 
}

.login-container {
  background-color: #141414; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 40px;
}

.input-group {
  margin-bottom: 15px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: calc(100% - 24px);
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#email-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.forgot-password {
  text-decoration: underline;
  color: #fff; /* White color for the underline link */
  cursor: pointer;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #4CAF50; /* Green color for the login button */
  color: #fff; /* White text for the login button */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
